/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */
@import url("https://marksheet.io/css/reset.css");


/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1200px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
}


/* Предустановки */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Гибкая верстка */
img {
    width: 100%;
    max-width: 100%;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
   }
}


/* Шапка сайта */
header {
    flex: 0 0 auto;
    background-color: black;
    height: 100px;
    color: white;
}
header > div.container {
    height: 100%;
    align-items: center;
}
header ul li {
    margin-right: 20px;
}
menu ul{
    display: none;
    background-color: red;
    position: absolute;
    top: 100%;
}
menu li:hover ul { display: block; }
menu, menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
menu {
    height: 30px;
    background-color: black;
    padding-left: 0px;
    min-width: 110px;
}
menu li {
    float: left;
    position: relative;
    height: 100%;
}
menu ul li{
    display: block;
    padding: 8px;
    width: 110px;
    color: #fff;
    text-decoration: none;
    text-align: left;
}
menu ul li { float: none; }
menu li:hover { background-color: red; }
menu ul li:hover { background-color: black; }


/* Основное содержимое */
main {
    display: flex;
    flex: 1 0 auto;
    background-color: lightgray;
    color: black;
}
main > div.container {
    flex: 1 0 auto;
    background-color: white;
}
main {
    background-image: url(/XDZ-v-VK/images/main.jpg);
    background-position: center center;
    background-size: cover;
}
section {
    flex: 3 0 auto;
    padding: 0 15px;
}
aside {
    flex: 3 0 auto;
    padding: 0 15px;
}


/* Подвал сайта */
footer {
    flex: 0 0 auto;
    background-color: black;
    height: 200px;
    color: white;
}
footer > div.container {
    height: 100%;
    padding: 10px 0;
}
footer nav ul {
    margin-right: 30px;
}
header a,
footer a {
    color: white;
    text-decoration: none;
}
header a:hover,
footer a:hover {
    text-decoration: underline;
}